@model Tp_promocion_peliculas.Models.MovieGender

@{
    ViewData["Title"] = "Detalle - pelicula - genero";
}

<h1>Detalle pelicula y genero</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.Description)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Regresar a la lista</a>
</div>
