@model IEnumerable<Tp_promocion_peliculas.Models.MovieActor>

@{
    ViewData["Title"] = "Pelicula y actores";
}

<h1>Peliculas y actores</h1>

<p>
    <a asp-action="Create">Crear nueva pelicula y actore</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Film.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
         {
           <tr>
              <td>
               @Html.DisplayFor(modelItem => item.Film.Title)
              </td>
             <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
             </td>
             <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
             </td>
           </tr>
         }
    </tbody>
</table>
